extends ../main

block variables
    - var title = 'Корзина'
    - var main = false

block content
    main.basket
        //- main
        section.basket__main
            form(action='ok.html' method='post').basket__form
                .container
                    //- bread
                    .basket__bread.bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        span.bread__link.active
                            span.bread__link-txt Корзина

                    //- title
                    h1.title.basket__title Корзина

                    //- row
                    .row
                        //- left
                        .basket__left
                            //- table
                            .basket__table.btable
                                table.btable__table
                                    //- top
                                    tr.btable__top
                                        td.btable__w-1.btable__th
                                            .btable__title
                                                +icon('basket','btable__title-svg btable__title-svg_cart')
                                                .btable__title-txt.btable__title-txt_15b Ваш заказ
                                        td.btable__w-2.btable__th
                                        td.btable__w-3.btable__th
                                            .btable__title.btable__title_center
                                                .btable__title-txt
                                                    | В корзине:&nbsp;
                                                    b 2 товара
                                        td.btable__w-4.btable__th
                                            button(type='button').btable__title.basket__clear
                                                +icon('close','btable__title-svg btable__title-svg_close')
                                                span.btable__title-txt.btable__title-txt_m Очистить


                                    //- head
                                    tr.btable__headers
                                        td.btable__w-1
                                            .btable__head.btable__head_b Товар
                                            .btable__title.btable__title_m
                                                .btable__title-txt
                                                    | В корзине:&nbsp;
                                                    b 2 товара
                                        td.btable__w-2
                                            .btable__head Цена
                                        td.btable__w-3
                                            .btable__head Количество
                                        td.btable__w-4
                                            .btable__head

                                //- list
                                .btable__list
                                    each i in [1,2]
                                        +citem('citem_basket')


                            //- list
                            .basket__list
                                //- contacts
                                .basket__row
                                    .brow
                                        //- top
                                        .brow__info
                                            .brow__header.brow__header_m
                                                +icon('basket','brow__header-svg brow__header-svg_cart')
                                                .brow__header-txt Оформить заказ
                                            .brow__header
                                                .brow__header-txt
                                                    | В корзине:&nbsp;
                                                    b 2 товара

                                        //- title
                                        .brow__title Контактная информация

                                        //- content
                                        .brow__content
                                            .basket__fields
                                                .row
                                                    .basket__field.basket__field_8
                                                        label.basket__label
                                                            | Сотовый телефон&nbsp;
                                                            span.req *
                                                        input(type='tel' name='tel' placeholder='+7 (___) ___-__-__' data-rule-required="true" data-msg-required="Введите телефон" data-msg-tel="Введите телефон").basket__input
                                                    .basket__field.basket__field_8
                                                        label.basket__label
                                                            | Имя&nbsp;
                                                            span.req *
                                                        input(type='text' name='name' data-rule-required="true" data-msg-required="Введите Имя").basket__input
                                                    .basket__field.basket__field_8
                                                        label.basket__label Email
                                                        input(type='email' name='email').basket__input
                                                    .basket__field.basket__field_24
                                                        label.basket__label Комментарий к заказу
                                                        textarea(name='comment').basket__input.basket__input_area




                                //- delivery
                                .basket__row
                                    .brow
                                        //- title
                                        .brow__title Способы доставки

                                        //- content
                                        .brow__content.brow__content_p
                                            .row.basket__delivery.bdelivery
                                                //- left
                                                .brow__left
                                                    //- options
                                                    .bdelivery__options.delopts
                                                        each  i,x in deliveryOptions
                                                            .delopt
                                                                label.delopt__label
                                                                    input(type='radio' name='delivery' value=x+1 checked=i.checked?true:false).delopt__input
                                                                    span.delopt__block
                                                                        span.delopt__top
                                                                            span.delopt__fake
                                                                                +icon('check2','delopt__fake-svg')
                                                                            +image(i.src,'delopt__img')
                                                                        span.delopt__bottom
                                                                            span.delopt__price= i.price
                                                                .delopt__title= i.title




                                                //- right
                                                .brow__right
                                                    .bdelivery__info
                                                        .bdelivery__info-title Доставка в пределах МКАД
                                                        .bdelivery__info-sub Малогабаритный товар массой до 3 кг
                                                        .bdelivery__info-list
                                                            .bdelivery__info-item
                                                                | Стоимость:&nbsp;
                                                                b от 450 руб.
                                                            .bdelivery__info-item
                                                                | Срок доставки:&nbsp;
                                                                b 1-2 дн.
                                                        a(href='delivery.html').bdelivery__info-link Подробнее о доставке и оплате

                                                //- bottom
                                                .brow__bottom
                                                    .bdelivery__addr
                                                        .bdelivery__addr-info
                                                            |Введите адрес доставки, номер подъезда и ближайшую станцию метро
                                                            span.req *
                                                        input(type='text' name='addr').bdelivery__addr-input


                                //- pay
                                .basket__row
                                    .brow
                                        //- title
                                        .brow__title Способы оплаты

                                        //- content
                                        .brow__content.brow__content_p
                                            .row
                                                //- left
                                                .brow__left
                                                    //- options
                                                    .payopts
                                                        each  i,x in payOptions
                                                            .payopt
                                                                label.payopt__label
                                                                    input(type='radio' name='pay' value=x+1 checked=i.checked?true:false).payopt__input
                                                                    span.payopt__block
                                                                        span.payopt__top
                                                                            span.payopt__fake
                                                                                +icon('check2','payopt__fake-svg')
                                                                            +image(i.src,'payopt__img')
                                                                .delopt__title= i.title
                                                //- right
                                                .brow__right
                                                    .bdelivery__info
                                                        .bdelivery__info-title Банковская карта
                                                        .bdelivery__info-sub Картами Visa, MasterCard, Мир
                                                        a(href='delivery.html').bdelivery__info-link Подробнее о доставке и оплате
                            //- total
                            .basket__total.btotal
                                .btotal__col
                                    .btotal__item
                                        .btotal__item-left
                                            .btotal__item-icon
                                                +icon('basket','btotal__item-svg btotal__item-svg_cart')
                                        .btotal__item-right
                                            .btotal__item-title Заказ на:
                                            .btotal__item-price 1 655 руб
                                .btotal__col
                                    .btotal__item
                                        .btotal__item-left
                                            .btotal__item-icon
                                                +icon('car','btotal__item-svg btotal__item-svg_car')
                                        .btotal__item-right
                                            .btotal__item-title Доставка:
                                            .btotal__item-price 500 руб



                                .btotal__col
                                    .btotal__price
                                        .btotal__price-txt Итого к оплате:
                                        .btotal__price-price 15 655 ₽
                                .btotal__col
                                    button(type='submit').btotal__submit Оформить заказ

                        //- right
                        .basket__right
                            .basket__block
                                .bblock
                                    .bblock__title
                                        +icon('cabinet','bblock__title-svg')
                                        .bblock__title-txt Личный кабинет
                                    .bblock__content
                                        .bblock__info
                                            .bblock__info-left
                                                +image('images/icons/info.svg','bblock__info-img')
                                            .bblock__info-right
                                                .bblock__info-txt Зарегистрируйтесь на сайте, чтобы получить доступ в личный кабинет и вести архив и отслеживать статус заказов
                                                .bblock__info-links
                                                    a(href='registration.html').bblock__info-link Зарегистрироваться
                                                    a(href='enter.html').bblock__info-link
                                                        +icon('cabinet','bblock__info-svg')
                                                        | Войти

                            .basket__block
                                .bblock__title
                                    .bblock__title-txt Ваш заказ
                                .bblock__content
                                    .basket__order
                                        .border
                                            .border__list
                                                .border__item
                                                    .border__item-wrap
                                                        .border__item-title Товаровы:
                                                        .border__item-prices
                                                            .border__item-price 14 000 руб.
                                                            .border__item-oldprice 17 000 руб.
                                                .border__item
                                                    .border__item-wrap
                                                        .border__item-title Доставка:
                                                        .border__item-prices
                                                            .border__item-price 1 655 руб.
                                            .border__discount
                                                .border__discount-title Экономия:
                                                .border__discount-price 3 000 руб.

                                            .border__total
                                                .border__total-title Итого:
                                                .border__total-price 15 655 руб.
                                            .border__btns
                                                button(type='submit').btn2.border__submit Оформить
                                                button(type='button').btn3.border__fast
                                                    +icon('one','btn3__svg')
                                                    span.btn3__txt Купить в 1 клик
        //- recom
        section.basket__recom
            .brecom
                .container
                    //- top
                    +title('Рекомендуем','ВСЯ ПРОДУКЦИЯ','catalog.html','brecom')

                    //- slider
                    div(data-speed='500'  data-pagination='true').brecom__slider
                        button(type='button' class='brecom__prev').arrow.brecom__prev
                            +icon('prev','arrow__svg')
                        .swiper-container.brecom__container
                            .swiper-wrapper
                                each i in irecomItems
                                    .swiper-slide.brecom__item
                                        +item(i)
                        button(type='button' class='brecom__next').arrow.brecom__next
                            +icon('next','arrow__svg')
                    //- pag
                    div(class='brecom__pag').brecom__pag
                        .pag



