extends ../main

block variables
    - var title = 'Инструменты'
    - var main = false

block content
    .catalog
        .container
            .row
                //- left
                aside.catalog__left.left.category__left
                    //- menu
                    .catalog__menu
                        +amenu2()

                    //- filters
                    .catalog__filters
                        form.filters
                            .filters__block
                                //- title
                                .filters__title
                                    +icon('filter','filters__title-svg')
                                    .filters__title-txt Фильтры
                                    button(type='button').filters__close
                                        +icon('close','filters__close-svg')

                                //- list
                                .filters__list
                                    .filter.filter_m
                                        button(type='button').filter__title сортировка
                                        .filter__content
                                            .filter__sorts
                                                a(href='/').filter__sort.active По популярности (убывание)
                                                a(href='/').filter__sort По популярности (возрастание)
                                                a(href='/').filter__sort По алфавиту (убывание)
                                                a(href='/').filter__sort По алфавиту (возрастание)
                                                a(href='/').filter__sort По алфавиту (возрастание)
                                                a(href='/').filter__sort По цене (возрастание)
                                    .filter
                                        button(type='button').filter__title Цена (руб.)
                                        .filter__content
                                            .filter__range
                                                .range
                                                    //- fields
                                                    .range__fields
                                                        label.range__field
                                                            input(type='text' name='from' value='390').range__input.range__input_from
                                                        .range__fields-seporator
                                                        label.range__field
                                                            input(type='text' name='to' value='27 000').range__input.range__input_to
                                                    //- slider
                                                    input(type='text' name='range' value='' data-type='double' data-min='0' data-max='27000' data-from='390' data-to='27000').range__slider
                                    .filter
                                        button(type='button').filter__title Бренд
                                        .filter__content
                                            .filter__checks.checks
                                                each i in ['Bosh','Kolner','Diesel','Зубр','Bosh ','Karcher','Diesel-М','Зубр (Дримкас)']
                                                    label.check
                                                        input(type='checkbox' name='brend' value=i).check__input
                                                        span.check__fake
                                                            span.check__check
                                                                +icon('check2','check__check-svg')
                                                            span.check__title= i

                                    .filter
                                        button(type='button').filter__title Цвет
                                        .filter__content
                                            .filter__colors.colors
                                                each i in ['#FFB800','#27AE60','#2D9CDB','#F2C94C','#EB5757']
                                                    label.color
                                                        input(type='checkbox' name='color' value=i).color__input
                                                        span.color__fake
                                                            span(style='background:' + i + ';').color__fake-color

                                    .filter
                                        button(type='button').filter__title Размер
                                        .filter__content
                                            .filter__checks.checks
                                                each i in ['100x100','100x90','100x40']
                                                    label.check
                                                        input(type='checkbox' name='size' value=i).check__input
                                                        span.check__fake
                                                            span.check__check
                                                                +icon('check2','check__check-svg')
                                                            span.check__title= i


                                //- btns
                                .filters__btns
                                    button(type='submit').btn.filters__submit Показать 48 товаров
                                    button(type='reset').filters__reset
                                        span.filters__reset-txt Сбросить
                                        +icon('close','filters__reset-svg')





                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС


                //- right
                main.catalog__right.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        a(href='brands.html').bread__link
                            span.bread__link-txt Бренды
                        span.bread__link.active
                            span.bread__link-txt Karcher
                    //- title
                    h1.catalog__title.right__title Karcher
                    //- top
                    .brand__top
                        .row
                            .brand__left
                                .brand__img
                                    .brand__img-wrap
                                        +image('images/content/index/brands/1.png','brand__img-img')
                                .brand__txt Качественная бытовая и промышленная техника от немецкой компании Karcher. В нашем каталоге представлены все товары данной компании
                                a(href='brands.html').brand__back
                                    +icon('arrow-left','brand__back-svg')
                                    span.brand__back-txt Назад к брендам


                            .brand__right
                                .content
                                    p
                                        b Бытовая техника Керхер для дома и сада включает в себя уборочную технику из программы Home & Garden, представляющую собой, в основном, аппараты меньших размеров и производительности, чем аналогичные по назначению виды профессиональной техники.
                                    p Садовая техника включает в себя, прежде всего, оборудование для полива, впечатляющее высокой эффективностью и способствующее сбережению ресурсов. Широкий ассортимент продукции Kärcher позволяет эффективно решать практически любые задачи чистки.
                                    p Наиболее известными являются, разумеется, аппараты высокого давления Kärcher, но компания предлагает и множество других видов техники для уборки в доме и на придомовой территории, например, пароочистители или стеклоочистители, пылесосы. Наш интернет-магазин по продаже бытовой техники осуществляет доставку по Москве и др. городам России, а также ближнему зарубежью.
                                    p Весь представленный ассортимент можно купить через интернет, и вам не придется искать бытовую технику для дома, ведь доставят её прямо к дверям. Все оборудование Керхер производится по стандартам ISO, что гарантирует долгий срок службы. Вы будете годами радоваться новой бытовой техник

                    //- sub
                    .brand__sub Товары по бренду
                    //- panel
                    .catalog__panel
                        //- filters-btn
                        .catalog__filters-btn
                            button(type='button').filters-btn
                                +icon('filter','filters-btn__svg')
                                span.filters-btn__txt Фильтр


                        //- sort
                        .catalog__sort
                            .csort
                                .csort__title По популярности (возрастание)
                                .csort__drop
                                    each i in catalogSort
                                        a(href='/' class=i.cls).csort__link= i.title

                        //- controls
                        .catalog__controls
                            a(href='/?display=blocks').catalog__control.active
                                +icon('cat-block','catalog__control-svg')
                            a(href='/?display=blocks').catalog__control
                                +icon('cat-list','catalog__control-svg')


                    //- list
                    //Дополнительный класс list
                    .catalog__list.lis
                        .catalog__row
                            each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                                .catalog__item
                                    +item({
                                        src: 'images/content/catalog/1.jpg',
                                        sticks: true,
                                        enabled: true,
                                        price: '7 000 РУБ.',
                                        priceOld: '65 000 руб.',
                                        title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
                                        inbasket: false
                                    })


                        button(type='button').catalog__more Показать еще
                        .catalog__pag
                            +pagination()

                    //- bottom
                    .catalog__bottom
                        .content
                            p Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!
                            p Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно! Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!


