include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='css/custom.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper
            //- heeader
            header(class=main ? '' : 'header_second').header
                //- top
                .header__top
                    .container
                        .header__top-row
                            //- left
                            .header__top-left
                                //- city
                                button(type='button').header__city Москва

                            //- right
                            .header__top-right
                                .header__controls
                                    a(href='#').header__control.jsSearch
                                        +icon('magnifier','header__control-svg')
                                        span.header__control-txt Поиск

                                    a(href='cabinet.html').header__control
                                        +icon('cabinet','header__control-svg')
                                        span.header__control-txt Войти


                //- middle
                .header__middle
                    .container
                        .header__middle-row.row
                            //- left
                            .header__middle-left
                                //- logo
                                .header__logo
                                    a(href='/').logo.header__logo-img
                                        +image('images/icons/logo.png','','logo__img')
                                    .header__logo-txt
                                        | Лучшие товары
                                        br
                                        | по лучшим
                                        | ценам

                            //- right
                            .header__middle-right
                                //- info
                                .header__info
                                    .worktime
                                        .worktime__left
                                            +icon('time','worktime__svg')
                                        .worktime__right
                                            .worktime__title График работы:
                                            .worktime__txt 09:00 - 18:00

                                //- links
                                .header__links
                                    a(href='mailto:info@web-comp').header__link
                                        +icon('email','header__link-svg')
                                        span.header__link-txt info@web-comp
                                    a(href='https://yandex.ru/maps/-/CKEMaK--').header__link
                                        +icon('pin','header__link-svg')
                                        span.header__link-txt г.Москва, ул.Нижние поля дом 31


                                //- phones
                                .header__phones
                                    .header__phone.phone
                                        a(href='tel:+7(495)111-11-11').phone__phone
                                            +icon('tel','phone__phone-svg')
                                            span.phone__phone-link +7 (495) 111-11-11
                                        .phone__drop
                                            a(href='tel:+7(495)000-00-00').phone__drop-link +7 (495) 000-00-00
                                    button(type='button').header__call.jsCall Заказать звонок

                //- bottom
                .header__bottom
                    .container
                        .header__bottom-row
                            .header__menu.menu
                                each i in menu
                                    nav.menu__item
                                        a(href=i.href class=i.submenu ? 'menu__link_sub':'').menu__link= i.title



            //- pages
            div(class=main ? '' : 'page_second').page
                block content

            //- footer
            footer.footer
                //- top
                .footer__top
                    .container
                        .row.footer__top-row
                            //- left
                            .footer__top-left
                                .row
                                    each col in footerMenu
                                        .footer__col
                                            a(href=col.title.href).footer__title= col.title.title
                                            .footer__list
                                                each i in col.list
                                                    a(href=i.href).footer__item= i.title

                            //- right
                            .footer__top-right
                                a(href='contacts.html').footer__title Контакты
                                .footer__contacts
                                    a(href='tel:+7(000)000-00-00').footer__contact +7 000 000-00-00
                                    a(href='mailto:info@web-comp').footer__contact info@web-comp
                                    a(href='https://yandex.ru/maps/-/CKEMaK--').footer__contact г.Москва, ул. Пушкина 19

                                .footer__socials
                                    .socials
                                        .socials__title Мы в соц. сетях
                                        .socials__list
                                            each row in footerSocials
                                                .socials__row
                                                    each i in row
                                                        a(href=i.href).socials__item
                                                            +icon(i.svg,'socials__item-svg')

                //- bottom
                .footer__bottom
                    .container
                        .footer__bottom-row
                            .footer__copy 2020 © Название вашей компании
                            a(href='https://web-comp.ru/').footer__developer.developer
                                span.developer__txt Cоздание и продвижение сайтов
                                +image('images/icons/developer.png','developer__img')



        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div



        script(src='js/vendor.min.js')
        script(src='js/main.min.js')
        // Для изменений после верстки
        script(src='js/custom.js')
