include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='css/custom.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper
            //- heeader
            header(class=main ? '' : 'header_second').header
                //- top
                .header__top
                    .container
                        .header__top-row
                            //- left
                            .header__top-left
                                //- city
                                button(type='button').header__city Москва

                            //- right
                            .header__top-right
                                .header__controls
                                    a(href='#').header__control.jsSearch
                                        +icon('magnifier','header__control-svg')
                                        span.header__control-txt Поиск

                                    a(href='cabinet.html').header__control
                                        +icon('cabinet','header__control-svg')
                                        span.header__control-txt Войти


                //- middle
                .header__middle
                    .container
                        .header__middle-row.row
                            //- left
                            .header__middle-left
                                //- logo
                                .header__logo
                                    +logo('header__logo-img')
                                    .header__logo-txt
                                        | Лучшие товары
                                        br
                                        | по лучшим
                                        | ценам

                            //- right
                            .header__middle-right
                                //- info
                                .header__info
                                    .worktime
                                        .worktime__left
                                            +icon('time','worktime__svg')
                                        .worktime__right
                                            .worktime__title График работы:
                                            .worktime__txt 09:00 - 18:00

                                //- links
                                .header__links
                                    a(href='mailto:info@web-comp').header__link
                                        +icon('email','header__link-svg')
                                        span.header__link-txt info@web-comp
                                    a(href='https://yandex.ru/maps/-/CKEMaK--').header__link
                                        +icon('pin','header__link-svg')
                                        span.header__link-txt г.Москва, ул.Нижние поля дом 31


                                //- phones
                                .header__phones
                                    +phone('header__phone')
                                    button(type='button').header__call.jsCall Заказать звонок

                //- bottom
                .header__bottom
                    .container
                        .header__bottom-row
                            +menu(main ? 'header__menu' : 'menu_white header__menu')
            //- pages
            div(class=main ? '' : 'page_second').page
                block content

            //- footer
            footer.footer
                //- feed
                form.footer__feed.ffeed
                    .container
                        .row.ffeed__row
                            //- left
                            .ffeed__left
                                .ffeed__title Укажите свое имя и контактный номер и мы свами свяжемся

                            //- right
                            .ffeed__right
                                .row
                                    .ffeed__field
                                        input(type='text' name='name' placeholder='Имя').ffeed__input
                                    .ffeed__field
                                        input(type='tel' name='tel' placeholder='+7(__) ___-__-__').ffeed__input
                                    .ffeed__field
                                        button(type='submit').btn2.btn2_w.ffeed__submit заказать звонок

                //- top
                .footer__top
                    .container
                        .row.footer__top-row
                            //- left
                            .footer__top-left
                                .row
                                    each col in footerMenu
                                        .footer__col
                                            a(href=col.title.href).footer__title= col.title.title
                                            .footer__list
                                                each i in col.list
                                                    a(href=i.href).footer__item= i.title

                            //- right
                            .footer__top-right
                                a(href='contacts.html').footer__title Контакты
                                .footer__contacts
                                    a(href='tel:+7(000)000-00-00').footer__contact +7 000 000-00-00
                                    a(href='mailto:info@web-comp').footer__contact info@web-comp
                                    a(href='https://yandex.ru/maps/-/CKEMaK--').footer__contact г.Москва, ул. Пушкина 19

                                .footer__socials
                                    .socials
                                        .socials__title Мы в соц. сетях
                                        .socials__list
                                            each row in footerSocials
                                                .socials__row
                                                    each i in row
                                                        a(href=i.href).socials__item
                                                            +icon(i.svg,'socials__item-svg')

                //- bottom
                .footer__bottom
                    .container
                        .footer__bottom-row
                            .footer__copy 2020 © Название вашей компании
                            a(href='https://web-comp.ru/').footer__developer.developer
                                span.developer__txt Cоздание и продвижение сайтов
                                +image('images/icons/developer.png','developer__img')



        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div



        script(src='js/vendor.min.js')
        script(src='js/main.min.js')
        // Для изменений после верстки
        script(src='js/custom.js')
        //- fixed menu
        .fixmenu
            .container
                .fixmenu__row.row
                    //- logo
                    .fixmenu__logo
                        +logo()

                    //- menu
                    .fixmenu__menu
                        +menu('menu_small menu_white', true)

                    //- controls
                    .fixmenu__controls.header__controls
                        a(href='#').header__control.jsSearch.header__control_black
                            +icon('magnifier','header__control-svg')
                        a(href='cabinet.html').header__control.header__control_black
                            +icon('cabinet','header__control-svg')



                    //- phones
                    .fixmenu__phones
                        .fixmenu__phones-wrap
                            +phone('header__phone')
                            button(type='button').header__call.jsCall Заказать звонок


