mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`/images/icons/sprite.svg#${iconName}`)

mixin iconPath(iconPath,iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`${iconPath}/sprite.svg#${iconName}`)

mixin iconSVG(name, url)
  - mod = mod || ''
  a(href="#{url}" class="#{name}_link")
    svg(class="icon icon-" + name)
      use(xlink:href="images/content/index/advs/2.svg")

mixin image(imagePath, imageClass, imageAlt)
  if !imageAlt
    - var alt = 'lorem'
  else
    - var alt = imageAlt
  img(src=`${imagePath}`, alt=`${alt}`, class=`${imageClass}`)